body
{
   background-color: rgb(249, 137, 193); 
   color: black;
}
#container
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#logo
{
    padding-top: 10px;
    font-size: 44px;
}
#menu
{
    background-color: hotpink;
    width: 467px;
}
.option
{
    float: left;
    font-size: 20px;
    padding: 10px;
    padding-right: 30px;
}
a{
   color: aliceblue; 
   text-decoration:none;
}
.option:hover
{
background-color: rgb(250, 132, 191);
}
p
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
ul
{
    font-family: Arial, Helvetica, sans-serif;
}